*~
work/
cache/*.png
cache/url_*
data/*
!data/.gitkeep

models/*
!models/anime_style_art
!models/anime_style_art_rgb
!models/ukbench
!models/photo
!models/upconv_7
!models/upconv_7l
!models/srresnet_12l
!models/vgg_7
!models/cunet
models/*/*.png
models/*/*/*.png

waifu2x.log
waifu2x-*.log
waifu2x_*.log
