html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: top; background: transparent; } /*Reset style*/
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: none; }      input[type="checkbox"]:focus { -moz-outline-offset: -1px !important; -moz-outline: 1px solid #000 !important; }      :focus { outline: none; } /*Remove a dotted line around 1) buttons, 2) checkboxes, 3) links*/
a { text-decoration: none; cursor: pointer; color: inherit; } a:hover { text-decoration: underline; }
div, span, a, input	 { background-repeat: no-repeat; }


body {
	width: 780px;
	margin: 0 auto;
	background: #f5f5f5;
	color: #000;
	font-size: 14px;
	font-family: Tahoma, Arial, Verdana, sans-serif, Lucida Sans;
	line-height: 1.5em;
	text-align: center;
}

.allPage {
	display: inline-block;
	width: 700px;
	margin: 15px auto;
	padding: 5px 25px 10px 25px;
	background: #fff;
	border: 1px solid #000;
	text-align: left;
}

.mainTitle {
	font-size: 2em;
	font-weight: bold;
	margin: 0.6em 0;
	white-space: nowrap;
}

.mainTitle-text {
	display: inline-block;
}

.flagLink {
	display: inline-block;
}
.flagLink.first { margin-left: 20px; }

.chooseLang {
	width: 24px;
	height: 24px;
	margin: 0 5px;
	opacity: 0.9;
	vertical-align: middle;
}

p {
	max-width: 700px;
	margin: 0.4em 0;
}
p.margin1 { margin: 0.9em 0; }

.linksBox {
	color: #999;
}

.example {
	width: 445px;
	height: 200px;
}

.blueLink {
	color: #36b;
}

.grayLink {
	color: #999;
}



.secondTitle {
	font-size: 1.5em;
	font-weight: bold;
	margin: 2.4em 0 1.2em;
	line-height: 1.3em;
}

.optionBox {
	max-width: 800px;
	margin: 1.5em 0;
	white-space: nowrap;
}

.option-left {
	display: inline-block;
	width: 180px;
	color: #777;
	font-weight: bold;
}

.option-left-small {
	font-size: 0.8em;
	line-height: 1.5em;
}

.option-right {
	display: inline-block;
	white-space: normal;
}

.option-right-small {
	margin-top: 2px;
	font-size: 0.9em;
}

.option-hint {
	margin: 0.5em 0;
	color: #999;
	font-size: 0.85em;
	line-height: 1.5em;
	white-space: normal;
}

#url {
	width: 300px;
}

.radio.fisrt {
	margin-left: 0;
}
.radio:checked + .r-text { color: #494; }

.button {
	min-width: 160px;
	height: 26px;
	margin: 0 10px 3px 0;
	padding-bottom: 1px;
}

.bottomHint {
	max-width: 700px;
	margin: 0.85em 0;
	color: #999;
	font-size: 0.85em;
	line-height: 1.5em;
}

.bottomInfo {
	text-align: center;
}
